<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="false"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="false"
         cacheResult="false"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
